.block{
	width: 100px;
	height: 100px;
	background-color: orange;
	/*position: static;
	position: relative; top: 50px;
	position: absolute; top: 50px;*/
	top: -50px;
	position: fixed; 
}
.block2{
	width: 100px;
	height: 100px;
	background-color: red;
	position: sticky;
	top: 0;
	left: 0;
}
